<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">
          Ready for your next journey?
        </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <div class="row justify-content-md-center">
          <div class="col-md-auto ">
            <button type="submit" class="btn btn-block btn-lg btn-primary" [routerLink]="['/find-ride']" >
              Find a ride
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

 <!-- Icons Grid -->
 <section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-direction m-auto text-primary"></i>
          </div>
          <h3>Choice</h3>
          <p class="lead mb-0">We go everywhere. Literally thousands of destinations. No station required. Get to your exact destination, without the hassle. No queues. No waiting around.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-bubbles m-auto text-primary"></i>
          </div>
          <h3>Community</h3>
          <p class="lead mb-0">Choose who you’d like to travel with. Find new friends. Have a pleasant ride.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-shield m-auto text-primary"></i>
          </div>
          <h3>Security</h3>
          <p class="lead mb-0">We take the time to get to know our members. All profiles and ratings are checked. IDs are properly verified. So you know who you’re travelling with.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img image1" ></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Match with people going the same way</h2>
        <p class="lead mb-0">It’s a fast, fun, affordable way to commute. A cost-effective alternative to rideshare services, Brum lets you choose to drive or ride with people already going your way.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img image2" ></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>Carpool for the Climate and Community</h2>
        <p class="lead mb-0">Share rides to work, school, worship, and more to cut pollution and build community. Share Rides in and Out of Town.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img image3"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Share the cost of gas and tolls</h2>
        <p class="lead mb-0">Select your route and we’ll pair you up with passengers along your way.</p>
        <div class="row  mt-5">
          <div class="col-md-auto ">
            <button type="submit" class="btn btn-block btn-lg btn-primary" [routerLink]="['/offer-ride']">
              Offer a ride
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

